/** @format */

.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 28px;
  color: #f8f8f8;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .container {
    height: 80px;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.048);
  }

  .nav {
    display: none;
  }

  .hamburger {
    display: contents;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #0db760;
    z-index: 2;
    
  }

  .hamburger i {
    z-index: 2000;
    border: 2px solid #0db760;
    padding: 6px;
    border-radius: 5px;
  }
}
