.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 28px;
    color: #0DB760;
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}


@media screen and (max-width: 900px) {
    .nav  {
        display: none;
    }
}
