/** @format */

.container {
  display: flex;
  gap: 60px;
  padding: 100px 0;
  margin-top: 80px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  flex: 1;
}

.mainHeading {
  font-size: 60px;
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contactLink {
  font-size: 20px;
  outline: none;
  border: none;
  color: #0db760;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.image {
  object-fit: contain;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 50px;
    margin-top: 60px;
    padding: 100px 0 20px 0;
  }

  .mainHeading {
    font-size: 50px;
  }

  .imageContainer {
    position: relative;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex: auto;
    justify-content: center;
  }
}
