/** @format */

.container {
  display: flex;
  gap: 100px;
  padding: 100px 0;
  margin-top: 0;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  flex: 1;
}

.mainHeading {
  font-size: 54px;
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contactLink {
  font-size: 20px;
  outline: none;
  border: none;
  color: #0db760;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 500px;
}

.image {
  object-fit: cover;
  text-align: left;
  border-radius: 20px;
  border: 2px solid white;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 50px;
    padding: 60px 0 40px 0;
  }

  .mainHeading {
    font-size: 50px;
  }

  .imageContainer {
    position: relative;
    height: 350px;
    width: 100%;
    display: flex;
    flex: auto;
    justify-content: center;
  }
}
