/** @format */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://uploads-ssl.webflow.com/64fc742a8d10cc4bf228570e/650d76aea4ee0ebccd64f7cb_Group%20361%20(6).png");
  background-size: auto, 300px;
  background-attachment: scroll, scroll;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 22px;
  line-height: 1.4;
}

.color {
  color: #0db760;
}

.button {
  font-size: 20px;
  background: #0db760;
  padding: 15px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sectionTitle {
  color: #0db760;
  font-size: 25px;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  p {
    font-size: 20px;
  }
}
