/** @format */

.container {
  padding: 60px 0;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 20px;
  background-color: #d1d0d00e;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.sectionHeading {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
}

.contactButton {
  width: 300px;
  height: 56px;
  font-size: 22px;
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.171);
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: .5s all ease;
}

.contactButton:hover {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #00000042;
    font-size: 24px;
}

@media screen and (max-width: 900px) {
  .sectionHeading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
}
