/** @format */

.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  background: #000000;
  color: white;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logoLink i {
  font-size: 35px;
  color: #0db760;
}

.logoLink h1 {
  font-size: 28px;
  color: #ffffff;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .container {
    height: 80px;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.048);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .hamburger {
    display: contents;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #0db760;
    z-index: 2;
  }

  .hamburger i {
    z-index: 2000;
    border: 2px solid #0db760;
    padding: 6px;
    border-radius: 5px;
  }
}
